<div class="container">
  <div id="app">
    <h1>Habit Tracker</h1>
    <div>
      <input type="text" placeholder="Habit Title" v-model="newHabit" /><br />
      <input type="number" placeholder="Repetitions" v-model="reps" /><br />
      <button id="creator" @click="addHabit">Add</button>
    </div>
    <div class="row habit">
      <div v-for="habit in habits" class="four columns" transition="slide" :style="{ borderBottom: '5px solid ' + habit.random }">
        <h4>{{ habit.title }}</h4>
        <div class="shell">
          <div class="bar" :style="{ width: 100 - habit.complete * (100 / habit.initial) + '%' }"></div>
        </div>
        <div class="lower">
          <span @click="removeHabit(habit)">
            <i class="fa fa-times"></i>
          </span>
          <button id="progress" 
                  @click="completeReps(habit)" 
                  v-show="!habit.finished" 
                  :style="{ background: habit.random }"
           >
            <i class="fa fa-plus"></i>
          </button>
          <div v-show="!habit.finished">{{ habit.complete }}/{{ habit.initial }} times</div>
          <div v-show="habit.finished" transition="slide">Complete!</div>
        </div>
      </div>
    </div>
  </div>
</div>